body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f1ea; /* Color crema suave */
    color: #333;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url('https://images.unsplash.com/photo-1544025162-d76694265947?auto=format&fit=crop&w=1350&q=80');
                      
    background-size: cover;
    background-position: center;height: 60vh;display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    }
.hero h1, .hero p {
    animation: aparecer 1.2s ease-out;
}
   

.sedes {
    padding: 50px 20px;
    text-align: center;
    
}
.caja-sede {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); /* Animación suave y natural */
    cursor: pointer;
}

.caja-sede:hover {
    transform: translateY(-10px); /* La caja sube */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); /* Sombra realista */
}



.contenedor-sedes {
    display: flex;
    justify-content: space-around;flex-wrap: wrap;gap: 20px;
}

.sede {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    border-top: 5px solid #5499c7;
}

.contacto {
    background-color: #212f3d;color: white;
    padding: 50px 20px;
    text-align: center;
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario input, .formulario textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.btn-enviar {
    background-color: #7b241c;color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-enviar:hover {
    background-color: #a93226;
    transform: scale(1.05);
}
.caja-sede {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); /* Animación suave y natural */
    cursor: pointer;
}

footer {
    background-color: #111;
    color: #aaa;
    text-align: center;
    padding: 30px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

